page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
}

.scroll-content{
    padding:0 ! important
}
.my-product-moduled {
border-bottom: 1px solid rgba(0, 0, 0, 0.16);
.contect-sec {
  width: 100%;
  display: flex;
  padding-bottom:18px;
  //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  .listing-sec{
    h2{
      color: #0077BE;
      font-size: 16px;
      font-family: roboto;
      font-weight: 500;
      text-align: left;
      opacity: 1;
      letter-spacing: 0.15px;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    p{
      font-size: 12px;
      color: #000000;
      font-family: roboto;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      opacity:0.8;
      text-align: left;
      letter-spacing: 0.4px;
      strong{
        color:#E42215;
        font-weight:bold
      }
      span{
        font-weight:bold;
        text-align: left;
        font-size: 12px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
      }
    }
  }
  .checkBox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 18px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 2px solid #0077BE;
      border-radius: 3px;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .checkBox input:checked ~ .checkmark {
    background-color: #0077be;
  }
  .checkBox input:checked ~ .checkmark:after {
    display: block;
  }

  .text-right {
    .fab-ios {
      background: transparent;
      color: black;
      font-size: 20px;
    }
    ion-fab {
      z-index: unset;
     :before{
        font-size:30px
      }
      ion-icon {
        transform: rotate(90deg);
        // right: -50px;
        top: 0x;

      }
      .fab-list-active {
        right: 40px;
        margin: 45px 0px 0px;
        z-index: 10;
        border-radius: 10px;
        padding: 0px 20px 0px 4px;
        -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16);
        background: #fff;
          //&:after {
          //position: absolute;
          //top: -12px;
          //right: 8px;
          //content: "";
          //width: 0;
          //height: 0;
          //border-left: 12px solid transparent;
          //border-right: 12px solid transparent;
          //border-bottom: 12px solid rgba(0, 0, 0, 0.16);
          //z-index: 1;
        //}
        .item-inner{
          background:none;
          border-bottom:0px;
              padding-right: 0;
          .label{
            padding: 0;
            margin: 0;
            font-size: 14px;
            padding-top: 20px;
            font-family: roboto;
            font-weight: 500;
            letter-spacing:0.24px;
            text-transform:capitalize;
          }
        }
        .item-block{
          min-height: 0;
        }
      }
    }
  }
}
}

.greenText {
color:#00FF08;
font-weight: bold;
}

.fab-icon {
    width: 45px;
    height: 45px;
    line-height: 47px;
}
